// Turn off compile notifications

$theme-show-notifications: false;

// Change the project font

$theme-font-type-sans: "serif";

// Customize the Banner

$theme-banner-background-color: "ink";
$theme-banner-link-color: "indigo-30";
$theme-banner-max-width: none;

// Customize the Identifier

$theme-identifier-max-width: none;